<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<servlet>
		<servlet-name>NotificationCleanupServlet</servlet-name>
		<servlet-class>com.minook.zeppa.backend.notifications.NotificationCleanupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotificationCleanupServlet</servlet-name>
		<url-pattern>/notifications/cleanup</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>NotificationWorkerServlet</servlet-name>
		<servlet-class>com.minook.zeppa.backend.notifications.NotificationWorkerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotificationWorkerServlet</servlet-name>
		<url-pattern>/notifications/notificationworker</url-pattern>
	</servlet-mapping>

	<!-- <servlet> <servlet-name>StartupServlet</servlet-name> <servlet-class>com.minook.zeppa.backend.notifications.StartupServlet</servlet-class> 
		<load-on-startup>0</load-on-startup> </servlet> <servlet-mapping> <servlet-name>StartupServlet</servlet-name> 
		<url-pattern>/_ah/start</url-pattern> </servlet-mapping> -->


	<!-- Uncomment to use HTTPS -->
	<!-- <security-constraint> <web-resource-collection> <web-resource-name>Root 
		Application</web-resource-name> <url-pattern>/</url-pattern> <url-pattern>/*</url-pattern> 
		</web-resource-collection> <user-data-constraint> <transport-guarantee>CONFIDENTIAL</transport-guarantee> 
		</user-data-constraint> </security-constraint> -->

	<!-- Only Admin roles are allowed to access the backend directly -->
	<!-- <security-constraint> <web-resource-collection> <web-resource-name>Admin 
		Pages</web-resource-name> <url-pattern>/admin/*</url-pattern> </web-resource-collection> 
		<auth-constraint> <role-name>admin</role-name> </auth-constraint> </security-constraint> -->
</web-app>
