<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <!-- <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.zeppamobile.frontend.imageupload.Upload
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/image/upload/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUploadUrl</servlet-name>
    <servlet-class>com.zeppamobile.frontend.imageupload.GetUploadUrl
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUploadUrl</servlet-name>
    <url-pattern>/getuploadurl</url-pattern>
  </servlet-mapping>-->
  
  <!-- Front end servlets for each page -->
  <servlet>
    <display-name>Dashboard</display-name>
    <servlet-name>dashboard</servlet-name>
    <servlet-class>com.zeppamobile.frontend.webpages.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>Events</display-name>
    <servlet-name>events</servlet-name>
    <servlet-class>com.zeppamobile.frontend.webpages.EventsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>events</servlet-name>
    <url-pattern>/events</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>Analytics</display-name>
    <servlet-name>analytics</servlet-name>
    <servlet-class>com.zeppamobile.frontend.webpages.AnalyticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>analytics</servlet-name>
    <url-pattern>/analytics</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>Billing</display-name>
    <servlet-name>billing</servlet-name>
    <servlet-class>com.zeppamobile.frontend.webpages.BillingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>billing</servlet-name>
    <url-pattern>/billing</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>AccountSettings</display-name>
    <servlet-name>accountsettings</servlet-name>
    <servlet-class>com.zeppamobile.frontend.webpages.AccountSettingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountsettings</servlet-name>
    <url-pattern>/account-settings</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>hello-world.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>